params {
    gencode = true
    publish_dir_mode = 'link'
}

process {
		withName:STAR_ALIGN {
		container= "https://depot.galaxyproject.org/singularity/star:2.7.9a--h9ee0642_0"
		}
	}


profiles {
  cd8 {
   singularity.autoMounts = true
   singularity.enabled = true
   singularity.pullTimeout = '30 min'
   process {
      executor = 'sge'
      penv = 'smp'
      clusterOptions = { '-V -S /bin/bash -q all.q' }
    }
  }
}

executor {
  $sge {
    queueSize = 600
  }
}
